services:
  drone-course-control:
    build:
      context: .
      dockerfile: Dockerfile
      shm_size: '2gb'
    image: drone-course-control:latest
    shm_size: '2gb'
    container_name: project_upm_drone_course_control
    hostname: drone-course-control-dev
    privileged: true
    environment:
      - HOST_UID=${HOST_UID:-501}
      - HOST_GID=${HOST_GID:-20}
      - VNC_ENABLE=1
      - VNC_RESOLUTION=1920x1080
      - VNC_DEPTH=24
      - ROS_DOMAIN_ID=0
      - ROS_LOCALHOST_ONLY=0
      - DISPLAY=$DISPLAY
      - XAUTHORITY=$XAUTHORITY
    ports:
      - "5901:5901" # VNC server
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/.Xauthority:/root/.Xauthority:rw
    command: bash -c "tail -f /dev/null"
    stdin_open: true
    tty: true
    restart: unless-stopped
    # Resource limits
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 8G

